          <div class="sidebar-toggle">
            <div class="sidebar-toggle-line-wrap">
              <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
              <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
              <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
            </div>
          </div>

          <div id="sidebar" class="sidebar">
            <div class="sidebar-inner">
              <div class="site-overview">
                <div class="site-author motion-element">
                  <a href="/index.html" title="{{{author}}}">
                    <img class="site-author-image" src="{{{avatar-uri}}}" alt="avatar">
                  </a>
                  <p class="site-author-name">{{{site-title}}}</p>
                </div>
                <p class="site-description motion-element">{{{site-sub-title}}}</p>
                <div class="site-state motion-element">
                  <div class="site-state-item site-state-posts">
                    <a href="{{{archive-uri}}}">
                      <span class="site-state-item-count">{{{post-count}}}</span>
                      <span class="site-state-item-name">日志</span>
                    </a>
                  </div>

                  <div class="site-state-item site-state-categories">
                    <a href="{{{category-uri}}}">
                      <span class="site-state-item-count">{{{category-count}}}</span>
                      <span class="site-state-item-name">分类</span>
                    </a>
                  </div>

                  <div class="site-state-item site-state-tags">
                    <a href="{{{tag-uri}}}">
                      <span class="site-state-item-count">{{{tag-count}}}</span>
                      <span class="site-state-item-name">标签</span>
                    </a>
                  </div>

                </div>


                <!-- <div class="feed-link motion-element">
                     <a href="http://notes.iissnan.com/atom.xml">
                     <i class="menu-item-icon icon-feed"></i>
                     RSS
                     </a>
                     </div> -->


                <div class="links-of-author motion-element">


                  {{#github-link}}
                  <span class="links-of-author-item">
                    <a href="{{{github-link}}}" target="_blank">GitHub</a>
                  </span>
                  {{/github-link}}

                  {{#twitter-link}}
                  <span class="links-of-author-item">
                    <a href="{{{twitter-link}}}" target="_blank">Twitter</a>
                  </span>
                  {{/twitter-link}}

                  {{#weibo-link}}
                  <span class="links-of-author-item">
                    <a href="{{{weibo-link}}}" target="_blank">Weibo</a>
                  </span>
                  {{/weibo-link}}

                  {{#douban-link}}
                  <span class="links-of-author-item">
                    <a href="{{{douban-link}}}" target="_blank">Douban</a>
                  </span>
                  {{/douban-link}}

                  {{#zhihu-link}}
                  <span class="links-of-author-item">
                    <a href="{{{zhihu-link}}}" target="_blank">Zhihu</a>
                  </span>
                  {{/zhihu-link}}

                </div>

                <div class="cc-license motion-element">
                  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0" class="cc-opacity" target="_blank">
                    <img src="/dest/resources/images/cc-by-nc-sa.svg" alt="Creative Commons">
                  </a>
                </div>
              </div>
            </div>
          </div>
